:root {
    --text-color: #e20774;
    --card-front-color: #000000;
    --card-back-color: #6400d6;
}


body {
    background: url(brinquedosgato_910x686.webp);
    background-color: rgb(149, 14, 228);
}

#container {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao{
    margin: 1rem 1rem;
    background-color: blueviolet;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%- 6rem);
}

.cartao_conteudo {
    background-color: var(--card-front-color);
    text-align: center;
   /* background-color: rgb(233, 11, 122); /*
    height: 100%;
}

.cartao_conteudo{
    background: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

.cartao_conteudo p {
margin-top: 1rem;
padding: 2rem;
}







footer {
    background-color: rgb(95, 10, 231);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
body {
    background-color: rgb(170, 3, 236);
    font-family: Bai Jamjuree;
}